<div>
  <button (click)="fromOperator(arr)">from passing Array</button>
  <!-- <button (click)="fromOperator(obj)">from passing Object</button> -->
  <!-- <button (click)={{console.clear()}}>Clear console</button> -->
  <button (click)="ofOperator(arr)">Of passing Array</button>
  <button (click)="mapOperator(cars)">Map Operator</button>
  <button (click)="mapWithMergeAll()">Map with Merge All Operator</button>
  <button (click)="mergeMapOperator()">MergeMap Operator</button>
  <button (click)="switchMapOperator()">SwitchMap Operator</button>
  <button (click)="concatMapOperator()">ConcatMap Operator</button>
  <button (click)="forkJoin()">ForkJoin Operator</button>
  <button (click)="combineLatest()">CombineLatest Operator</button>
</div>
